.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ui{
  width: 15vw;
  min-height: 100vh;
  background-color: lightgrey;
}

.ui__layer-selection-title{
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1px solid black;
}
.ui__layer-selection-list{
  list-style: none;
  text-align: start;
}


.tile_map{
  width: 85vw;
  height: 100vh;
  background-color: gray;
  border: 5px solid black;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}

.grid_layer{
  pointer-events:none;
  opacity: 0.5;
  z-index: 11;
  display:flex;
  flex-wrap: wrap;
  min-height: 32;
  position: absolute;

}

.grid_tile{
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid black;
  
}

.ground_layer{
  display:flex;
  flex-wrap: wrap;
  min-height: 32;
}

.tile{
  width: 32px;
  height: 32px;
}

.change_tile_window-bgc{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 100;
}

.change_tile_window{
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  /*transform: translate(50%,0);*/
  background-color: red;
}