:root {
    --map-position-top: 50%;
    --map-position-left: 50%;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* UI */

.ui {
    width: 15vw;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(60,38,38,0.8) 0%, rgba(105,76,22,0.8) 52%, rgba(96,47,18,0.8) 100%);

}

.ui__layer-selection_title {
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid black;
}
.ui__layer-selection_list {
    list-style: none;
    text-align: start;
}

.ui__show-grid_title {
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.ui__show-grid_checkbox {
    text-align: start;
    padding-left: 40px;
}

.ui__scale-map_title {
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.ui__scale-map_select {
    text-align: start;
}

.ui__tiles-selection {
    width: 100%;
}

.ui__tiles-selection_title {
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.ui__tiles-selection_tiles-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 0;
}

.ui__tiles-selection_tiles-menu_example{
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

.ui__tiles-selection_tiles-menu_example:hover{
    cursor: pointer;
    border: 2px aquamarine outset;
}

.tile-selected{
    border: 2px red outset;
}


.ui__map-size_title{
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.ui__map-size_label{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.ui__map-size_label_input{
    width: 50%;
}

/* Tilemap */

.tile_map {
    width: 85vw;
    height: 100vh;
    background-color: gray;
    background-image: url('./tiles/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    
}

/* GRID LAYER */
.grid-layer {
    pointer-events: none;
    opacity: 0.3;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    min-height: 32;
    position: absolute;
    top: var(--map-position-top);
    left: var(--map-position-left);
    transform: translate(-50%,-50%);
}

.grid-layer__tile {
    box-sizing: border-box;
    border: 1px solid black;
}

.overlay-layer {
    display: flex;
    flex-wrap: wrap;
    min-height: 32;
    position: absolute;
    top: var(--map-position-top);
    left: var(--map-position-left);
    transform: translate(-50%,-50%);
    z-index: 3;
}

/* PLAYER LAYER */

.player-layer {
    display: flex;
    flex-wrap: wrap;
    min-height: 32;
    position: absolute;
    top: var(--map-position-top);
    left: var(--map-position-left);
    transform: translate(-50%,-50%);
    z-index: 2;
}

/* GRID LAYER */

.ground-layer {
    display: flex;
    flex-wrap: wrap;
    min-height: 32;
    z-index: 1;
    position: absolute;
    top: var(--map-position-top);
    left: var(--map-position-left);
    transform: translate(-50%,-50%);
}

/* TILE */

.tile {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

.tile:hover {
    cursor: pointer;
    border: 2px aquamarine outset;
}
