<div class="articles">
        
        <div class="articles__section" id="1">
            <h3 class="articles__section_title">
                How to: change the tile
            </h3>
            <p>
                First, select the image from "Select Tile" menu on the
                left side of the screen
            </p>
            <img
                src="/img/select-tile.png"
                alt="Tile selection menu"
                class="articles__section_image"
            />
            <p>
                In the next step, left click on the tile you want to
                change.
            </p>
            <img
                src="/img/change-tile.png"
                alt="Editor fragment"
                class="articles__section_image"
            />
        </div>

        <hr class="articles__line" />

        <div class="articles__section" id="2">
            <h3 class="articles__section_title">
                How to: set location name
            </h3>
            <p>
                Switch to the overlay layer and right click on the tile
                in the place you want to mark on the map.
            </p>
            <img
                src="/img/select-layer.png"
                alt="Layer selection menu"
                class="articles__section_image"
            />
            <p>
                Type location name and click "Save"
            </p>
            <img
                src="/img/set-location.png"
                alt="Location name input"
                class="articles__section_image"
            />
        </div>
    </div>