<div class="navbar">
            <h1 class="main__article_title">How to:</h1>
            <ul class="main__list">
                <li>
                    <a href="#1" class="main__list_item_link">
                        change tile
                    </a>
                </li>
                <li>
                    <a href="#2" class="main__list_item_link">
                        set location name
                    </a>
                </li>
            </ul>
        </div>