<div class="navbar">
            <h1 class="navbar__title">How to:</h1>
            <ul class="navbar__list">
                <li class="navbar__list_item">
                    <a href="#1" class="navbar__list_item_link">
                        change tile
                    </a>
                </li>
                <li class="navbar__list_item">
                    <a href="#2" class="navbar__list_item_link">
                        set location name
                    </a>
                </li>
            </ul>
        </div>