:root {
    --map-position-top: 50%;
    --map-position-left: 50%;
    --ui-main: #2F2F2F;
    --ui-bgc: #919191;
    --ui-secondary: #70AE6E;
    --ui-secondary-hov: #3C6E71;
    --accents: #BEEE62;
    --text: #d4d1d1;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ui-main);
    color: var(--text);
}

hr{
    width: 90%;
    margin: 20px 0;
}

.header{
    width: 100%;
    margin-top: 10px;
    padding: 0; 
    min-height: 200px; 
    background-image: url(/img/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.main{
    width: 80%;
    display: flex;
    flex-direction: row;

}

.navbar{
    width: 30%;
    border-right: 1px solid black;
}


.navbar__title{
    font-family: 'Trade Winds', cursive;
    font-size: 2.5rem;
    color: var(--accents)
}


.navbar__list{
    list-style-type: disc;
}

.navbar__list_item{
    border-bottom: black dotted 1px;
    padding: 5px;
    margin: 10px 0;
}

.navbar__list_item:hover{
    cursor: pointer;
    color: var(--accents);
}

.navbar__list_item_link{
    text-decoration: none;
    color:  inherit;

}



/* ARTICLES */

.articles{
    width: 70%;
    padding-left: 40px;
    overflow-y: auto;
}

.articles__section{
    width: 50%;
    text-align: left !important;
}
.articles__section_title{
    font-size: 2.4rem;
    font-family: 'Trade Winds', cursive;
    color: var(--accents);
}

.articles__section_image{
    width: 200px;
    height: auto;
}

.articles__line{
    width: 90%;
    margin: 20px 0;
}